# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec

# Virtualenv
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.py,cover
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Freeze files
local_freeze.txt
container_freeze.txt

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
